.chart_component{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
    margin-top: 25px;
}


.chart {
    width: 45%;
    height: 300px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    position: relative;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    
  }

  .bar1 {
    position: absolute;
    bottom: 0%;
    width: 15%;
    
    background-color: skyblue;
    margin-right: 35%;
    transition: width 0.2s ease-in-out;
    
  }

  .bar2 {
    position: absolute;
    bottom: 0%;
    margin-left: 35%;
    
    width: 15%;
    
    background-color:greenyellow;
    
  }

  .info {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-100%, -100%);
    display: none;
    color: #fff;
  }
  .bar1:hover{
    opacity: 0.85;
    width: 15.3%
  }
  .bar2:hover{
    opacity: 0.85;
    width: 15.3%
  }

  .bar1:hover .info {
    display: block;
    content: attr(data-info);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    
  }

  .bar2:hover .info {
    display: block;
    content: attr(data-info);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10%;
    
  }
  .followlist{
    /*background-color: pink;*/
    padding: 4%;
    padding-left: 26%
  }